<a href="https://colab.research.google.com/github/PushpaCS02/PushpaCS02/blob/main/1day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Number is divisible  by 5 and 10

In [5]:
num=int(input("Enter a number:"))
if num%5==0 and num%10==0:
  print("number is divisible 5&10")
else:
  print("number is not divisible 5&10 ")

Enter a number:15
number is not divisible 5&10

**Number is a Multipli of both 3 and 5.**

In [6]:
num=int(input("Enter the number:"))
if num%3==0 and num%5==0:
  print("number is multipli of both 3&5")
else:
  print("number is not multipli of both 3&5")

Enter the number:7
number is not multipli of both 3&5

Given Charecter is a Voewel or Consonant

In [18]:
char=input("Enter a single charecter:")
if char in "aeiou":
    print("vowel")
else:
  print("consonent")

Enter a single charecter:w
consonent

Checks whether a string is empty or not

In [20]:
string=input("Enter a string:")

if len(string) == 0:
  print("The string is empty")
else:
  print("The string is not empty")

Enter a string:" "
The string is not empty

"Adult" if the person's age is greter than or equal to 18 other wise print "minor"

In [27]:
age=int(input("enter the age"))
if age>=18:
  print("Adult")
else:
  print("Minor")

enter the age19
Adult

calculate sum of numbers from 1 to 100

In [5]:
total_sum = 0
for number in range (1,101):
  total_sum+=number
print(f" The sum of numbers from 1 to 100 is:{total_sum}")

 The sum of numbers from 1 to 100 is:5050

multiplication table of a 5

In [14]:
num=5
for i in range(1,11):
  print(f"{num} X {i} = {num*i}")

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

find the two smallest number

Character in string

In [29]:
string = "hello , world!"
index = 0
while index < len(string):
     print(string[index])
     index+=1

h
e
l
l
o

,

w
o
r
l
d
!

count 5 numbers

In [31]:
count=0
while count<5:
  print(count)
  count=count+1

0
1
2
3
4

multple of 6

In [32]:
limit=6
while num<limit:
  print(num)
  num+=6

5