<a href="https://colab.research.google.com/github/PushpaCS02/PushpaCS02/blob/main/day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Conditional Statement**

**IF STATEMENT**

In [1]:
age = 18
if age >= 18:
  print("you are eligible to vote.")

you are eligible to vote.

** IF-ELSE STATEMENT**

In [3]:
num = int(input("Enter a number:"))
if num%2==0:
  print("even number")
else:
  print("odd number")

Enter a number:5
odd number

**IF-ELIF-ELSE STATEMENTS**

In [9]:
marks=int(input("Enter yur marks:"))
if marks >= 90:
  print("Grade:A")
elif marks >= 75:
  print("Grade:B")
elif marks >= 50:
  print("Grade:C")
else:
  print("Grade:F")

Enter yur marks:68
Grade:C

***FOR LOOPS***

In [8]:
for i in range(5):
  print("Inteation:",i)

Inteation: 0
Inteation: 1
Inteation: 2
Inteation: 3
Inteation: 4

In [10]:
for i in range(5,10):
  print("Inteation:",i)

Inteation: 5
Inteation: 6
Inteation: 7
Inteation: 8
Inteation: 9

In [11]:
for i in range(5,50,5):
  print("Inteation:",i)

Inteation: 5
Inteation: 10
Inteation: 15
Inteation: 20
Inteation: 25
Inteation: 30
Inteation: 35
Inteation: 40
Inteation: 45

**WHILE STATEMENT**

In [12]:
count = 0
while count<5:
  print("count",count)
  count+=1

count 0
count 1
count 2
count 3
count 4

**CONTROL FLOW  TOOLS**

*BREAK STATEMENT*

In [13]:
#break
for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

*CONTINUE STATEMENT*

In [14]:
#CONTINUE STATEMENT
for i in range(10):
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [15]:
#pass
for i in range(10):
  if i == 5:
    pass
  print(i)

0
1
2
3
4
5
6
7
8
9

***Sum of Number in Given Range***

In [25]:
start=int(input("Enter the start of the range:"))
end=int(input("Enter the end of the range:"))
sum=0
for i in range(start,end+1):
  sum+=i
print("The sum is:",sum)

Enter the start of the range:5
Enter the end of the range:10
The sum is: 45

**FACTORIAL NUMBER**

In [6]:
number=int(input("Enter a number:"))
factorial = 1
for i in range(1,number+1):
  factorial *= i
  print("The factorial is:",factorial)

Enter a number:5
The factorial is: 1
The factorial is: 2
The factorial is: 6
The factorial is: 24
The factorial is: 120

Fibonacci Sequence

In [8]:
n = int(input("Enter the number of terms:"))
a,b =0,1
for i in range(n):
  print(a,end=" ")
  a,b =b,a+b

Enter the number of terms:7
0 1 1 2 3 5 8

**Simple Calculation Using if-elif**

In [3]:
num1= float(input("Enter First number:"))
num2= float(input("Enter Second number:"))
operation = input("Enter operation (+,-,*,/,//,**,%):")
if operation == '+':
  print("Result:", num1+num2)
elif operation == '-':
    print("Result:", num1-num2)
elif operation == '*':
    print("Result:", num1*num2)
elif operation == '/':
    print("Result:", num1/num2)
elif operation == '//':
    print("Result:", num1//num2)
elif operation == '**':
  print("Result:", num1**num2)
elif operation == '%':
  print("Result:", num1%num2)
else:
  print("Innvalid  operation")

Enter First number:8
Enter Second number:5
Enter operation (+,-,*,/,//,**,%):*
Result: 40.0

**CHEAK LEAP YEAR**

In [11]:
year=int(input("Enter a year:"))
if (year%4== 0 and year%100!=0) or (year%400==0):
  print("Leap year")
else:
  print("Not a Leap year")

Enter a year:2020
Leap year

**Find the Laragest of Three Numbers**

In [7]:
num1 = float(input ("Enter first number:"))
num2 = float(input("Enter second number:"))
num3 = float(input("Enter third number:"))
if num1 >= num2 and num1 >= num3:
  print("Laregest number is:", num1)
elif num2 >= num3 and num2 >= num1:
   print("Laregest number is:", num2)
else:
  print("Laregest number is:", num3)

Enter first number:6
Enter second number:4
Enter third number:18
Laregest number is: 18.0

**Find Positive and Negative Number**

In [10]:
a = int(input("Enter a number"))
if a>0:
  print("positive")
elif a<0:
  print("negative")
else:
  print("zero")

Enter a number5
positive

Sum of All Even Number in a Range

In [7]:
start = int(input("Enter start of range:"))
end = int (input("Enter end of range:"))
even_sum = 0
for num in range(start, end+1):
  if num % 2 == 0:
    even_sum+=num
  print("Sum of even  numbers:", even_sum)

Enter start of range:2
Enter end of range:10
Sum of even  numbers: 2
Sum of even  numbers: 2
Sum of even  numbers: 6
Sum of even  numbers: 6
Sum of even  numbers: 12
Sum of even  numbers: 12
Sum of even  numbers: 20
Sum of even  numbers: 20
Sum of even  numbers: 30