<a href="https://colab.research.google.com/github/PushpaCS02/PushpaCS02/blob/main/day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Data Structures in Python***

List

In [1]:
#Creating Items
x=[1,2,3,4,5]
print(x)

[1, 2, 3, 4, 5]

In [17]:
#Accsseing Items
y=[1,"hello",2.8]
print(y)

[1, 'hello', 2.8]

In [4]:
#Modifiying Items
x[0]=10
x

[10, 2, 3, 4, 5]

**Adding Items**

In [18]:
#Adding Items
y[2]=5.6
y

[1, 'hello', 5.6]

In [19]:
#append()
y.append("Hi")
y

[1, 'hello', 5.6, 'Hi']

In [9]:
#insert
x.insert(3,8)
x

[10, 2, 3, 8, 4, 5]

**Removing Items**

In [10]:
#remove()
x.remove(4)
x

[10, 2, 3, 8, 5]

In [20]:
#pop()
y.pop(1)
y

[1, 5.6, 'Hi']

**Other Operations**

In [22]:
#len()
a=(1,2,3,4,5,6,7,)
len(a)

7

In [29]:
#sort()
b=["apple","ball","cat"]
b.sort()
b

['apple', 'ball', 'cat']

In [32]:
#Reverse()
c=[1,2,3,4,5,6,]
c.reverse
c

[1, 2, 3, 4, 5, 6]

**Iterating Throuh a List**

In [33]:
for i in y:
  print(i)

1
5.6
Hi

Tuples

In [34]:
#creating tuples
a=(1,2,3,4,5,6,7)
a

(1, 2, 3, 4, 5, 6, 7)

**Accessing Items in a Tuple**

In [4]:
a=(1,2,3,4,5,6,7)
print(a[4])

5

Dictionary

In [11]:
student={
    "name":"pushpa",
    "age": 18,
    "grade":"B"
}
print(student)

{'name': 'pushpa', 'age': 18, 'grade': 'A'}

In [13]:
#Accessing
print(student["name"])

pushpa

In [15]:
#Adding
student["grade"]="A"
print(student)

{'name': 'pushpa', 'age': 18, 'grade': 'A'}

In [16]:
#Removing:
del student['age']
print(student)

{'name': 'pushpa', 'grade': 'A'}

Iterating Though a Dictionary

In [17]:
for key,value in student.items():
  print(key,value)

name pushpa
grade A

***Set***

 Creating a set

In [18]:
n = {1,2,3,4,5,6,7}
n

{1, 2, 3, 4, 5, 6, 7}

Set Operations

In [19]:
#Adding Items
n.add(9)
n

{1, 2, 3, 4, 5, 6, 7, 9}

In [20]:
#removing Items
n.remove(3)
n

{1, 2, 4, 5, 6, 7, 9}

**Set Operations**

In [26]:
#Union
a={1,2,3,4,5}
b=(1,2,3,5,5.3,8)
print(a.union(b))

{1, 2, 3, 4, 5, 5.3, 8}

In [27]:
#Itersection
print(a.intersection(b))

{1, 2, 3, 5}

In [28]:
#Difference
print(a.difference(b))

{4}

**Manuplating Lists**

In [29]:
fruits=["apple","banana","orange"]
fruits.append("mengo")
fruits.remove("banana")
print(fruits)

['apple', 'orange', 'mengo']

Creating a Dectionary

In [30]:
book={
    "title":"Python Basics",
    "athor":"John Doe",
    "year":2023
}
print(book)

{'title': 'Python Basics', 'athor': 'John Doe', 'year': 2023}

Working with Sets

In [2]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
print("Union:",s1|s2)
print("Intersection:", s1&s2)
print("Difference:",s1-s2)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference: {1, 2, 3}

**Merge Two Operations**

In [3]:
l1=[1,2,3,]
l2=[4,5,6]
merged_list=l1+l2
print(merged_list)

[1, 2, 3, 4, 5, 6]

**Dictionary  Operations**

In [4]:
student={"name":"pushpa","age":18,"grade":"A"}
print("Name:",student["name"])
student["marks"]=90
print("Updated Marks:",student["marks"])

Name: pushpa
Updated Marks: 90

Find the Maximum and Minimum ia a List

In [5]:
n=[10,20,30,40,50,60]
print("Maximum:",max(n))
print("Minimum:",min(n))

Maximum: 60
Minimum: 10

Count Frequency of Elements in a list

In [9]:
n=[1,2,2,3,3,3,4,4,4,4]
frequency={}
for num in n:
  frequency[num]=frequency.get(num,0)+1
  print("Frequency of elements:",frequency)

Frequency of elements: {1: 1}
Frequency of elements: {1: 1, 2: 1}
Frequency of elements: {1: 1, 2: 2}
Frequency of elements: {1: 1, 2: 2, 3: 1}
Frequency of elements: {1: 1, 2: 2, 3: 2}
Frequency of elements: {1: 1, 2: 2, 3: 3}
Frequency of elements: {1: 1, 2: 2, 3: 3, 4: 1}
Frequency of elements: {1: 1, 2: 2, 3: 3, 4: 2}
Frequency of elements: {1: 1, 2: 2, 3: 3, 4: 3}
Frequency of elements: {1: 1, 2: 2, 3: 3, 4: 4}

Sort a List of Tuples by the Second Element

In [13]:
tuples=[(1,"apple"),(2,"ball"),(3,"cats")]
sorted_tuples=sorted(tuples,key=lambda x:x[1])
print("Sorted tuples:",sorted_tuples)

Sorted tuples: [(1, 'apple'), (2, 'ball'), (3, 'cats')]

**Check number is Palindrom**

In [14]:
number = int(input("Enter a number:"))
reverse_number = 0
temp = number
while temp > 0:
  digit = temp % 10
  reverse_number = reverse_number * 10 + digit
  temp //= 10
  if number == reverse_number:
    print("The number is a palindrom:")
  else:
    print("The number is not a palindrom: ")

Enter a number:121
The number is not a polindrom:
The number is not a polindrom:
The number is a palindrom:

In [5]:
number = input("Enter a number:")
if str(number) == str(number)[::-1]:
    print(" palindrom:")
else:
    print(" palindrom: ")

Enter a number:mom
 palindrom: