<a href="https://colab.research.google.com/github/PushpaCS02/PushpaCS02/blob/main/day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Creating and Class**

In [ ]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def greet(self):
      print(f"Hello,my name is {self.name}and I am {self.age}years old.")

person1 = Person("Alice",36)
person1.greet()

Hello,my name is Aliceand I am 36years old.

**Class Circle**

In [ ]:
class Circle:
  def __init__(self,radius):
    self.radius = radius

  # Indentation corrected to make area a method of the class
  def area(self):
    return 3.14*self.radius**2 # Corrected the formula to calculate area using radius squared

circle1 = Circle(5)
print("Area:", circle1.area())

Area: 78.5

**Class Car**

In [ ]:
class car:
  no_of_wheels = 0
  mileage = 70
  no_of_seats = 4

  def moveforward(self):
    print("moveing forward")

  def movebackward(self):
    print("moving backward")

  def turnleft(self):
    print("turning left")

  def turnrigth(self):
    print("turning rigth")

car1 = car()
print(car1.no_of_seats)
print(car1.mileage)
print(car1.no_of_wheels)


car3 =car()
car3.no_of_wheels = 10
car3.mileage = 100
car3.no_of_seats = 12
print(car3.no_of_seats)
print(car3.mileage)
print(car3.no_of_wheels)

4
70
0
12
100
10

In [ ]:
car3 = car()
print(car3.no_of_seats)
print(car3.mileage)
print(car3.no_of_wheels)

4
70
0

**Encapsulation**

In [ ]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age
    self.__salary = 50000 # Changed self.salary to self.__salary to create the private attribute

  def get_salary(self):
    return self.__salary

  def set_salary(self,new_salary):
    if new_salary > 0:
      self.__salary = new_salary
    else:
      print("Salary cannot be negative")
  def display_info(self):
    print(f"Name:{self.name},Age:{self.age},Salary:{self.__salary}")
person = Person("pushpa",18)
print(person.name)
print(person.age)
print(person.get_salary())
person.set_salary(60000)
person.display_info()

pushpa
18
50000
Name:pushpa,Age:18,Salary:60000

**Inheritance**

In [ ]:
class ParentClass:
  def __init__(self,name):
    self.name = name

  def name1(self):
    print(f"Hello,my name is {self.name}")

class ChildClass(ParentClass):
  def __init__(self,name,age):
    super().__init__(name)
    self.age = age

  def age1(self):
    print(f"I am {self.age}years old.")

child = ChildClass("Alice",12)
child.name1()
child.age1()

Hello,my name is Alice
I am 12years old.

**Multiple Inheritance**

In [ ]:
class A:
  def method1(self):
    print("method1")

class B:
  def method2(self):
    print("method2")

class C(A,B):
  pass

obj = C()
obj.method1()
obj.method2()

method1
method2

**Polymorphism**

In [2]:
class Bird:
  def speak(self):
    pass

class Parrot(Bird):
  def speak(self):
    print("I mimic")


parrot = Parrot()
parrot.speak()

I mimic